#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: black;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 5px solid #00a6fb;
  border-top-color: black;
  border-bottom-color: black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 0.3s linear infinite;
  animation: animate-preloader 0.5s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  position: relative;
  background: transparent;
  line-height: 28px;
  font-size: 18px;
}

body::before {
  content: "";
  position: fixed;
  background: black;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: #00a6fb;
  text-decoration: none;
}

a:hover {
  color: #00a6fb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}

#header * {
  transition: ease-in-out 0.3s;
}

#header h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#header h1 a,
#header h1 a:hover {
  color: #00a6fb;
  line-height: 1;
  display: inline-block;
}

#header h2 {
  font-size: 24px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
}

#header h2 span {
  color: white;
  letter-spacing: 2px;
}

#header img {
  padding: 0;
  margin: 0;
}

@media (max-width: 992px) {
  #header h1 {
    margin-top: 0;     
    font-size: 36px;
  }

  #header h2 {
    top: 300;
    font-size: 20px;
    line-height: 30px;
  }

  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Header Top */
#header.header-top {
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
}

#header.header-top .social-links,
#header.header-top h2 {
  display: none;
}

#header.header-top h1 {
  margin-right: auto;
  font-size: 36px;
}

#header.header-top .container {
  display: flex;
  align-items: center;
}

#header.header-top .navbar {
  margin: 0;
}

@media (max-width: 768px) {
  #header.header-top {
    height: 60px;
  }

  #header.header-top h1 {
    font-size: 26px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  margin-top: 35px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li+li {
  margin-left: 30px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #00a6fb;
  visibility: hidden;
  width: 0px;
  transition: all 0.2s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 33px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 15px;
  top: 15px;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
  margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 45px;
  left: 15px;
  padding: 10px 0;
  overflow-y: auto;
  transition: 0.3s;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-mobile li {
  padding: 12px 20px;
}

.navbar-mobile li+li {
  margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 16px;
  position: relative;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out 0.4s;
  z-index: 2;
}

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}

section .container {
  background: rgba(0, 0, 0, 0.9);
  padding: 30px;
}

@media (max-width: 768px) {
  section {
    top: 120px;
  }

  section.section-show {
    top: 80px;
  }
}

.section-title h2 {
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #00a6fb;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
/*--------------------------------------------------------------
# Layers
--------------------------------------------------------------*/
.layers .content h2 {
  font-weight: 700;
  font-size: 35px;
  color: #00a6fb;
}
.layers .content p {
  text-align: justify;
}

.layers  .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Alfred Wegener
--------------------------------------------------------------*/
.alfred .content h3 {
  font-weight: 700;
  font-size: 45px;
  color: #00a6fb;
  
}
.alfred .content h3:hover {
  color: white;
}
.alfred  .content p {
  text-align: justify;
  line-height: 28px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.alfred .img-fluid{
  width: 99%;
  height: 285px;
}
.alfred .img-fluid:hover{
  transform: scale(1.1);
}
.alfred .img-fluid{
  transition: all 0.3s;
}

/*--------------------------------------------------------------
# Overview    
--------------------------------------------------------------*/
.overview h1 {
  font-weight: 700;
  font-size: 55px;
  color: #00a6fb;
  text-align: center;
}
.overview h1:hover {
  color: white;
}
.overview .content h3 {
  font-weight: 700;
  font-size: 30px;
  color: #00a6fb;
}
.overview .content h3:hover {
  color: white;
}
.overview .img-fluid:hover{
  transform: scale(1.1);
}
.overview .img-fluid{
  width: 100%;
  height:400px;
  transition: all 0.3s;
}
.overview .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.threeory {
  padding-bottom: 40px;
}

.threeory .card {
  border: 0;
  padding: 0 30px;
  margin-bottom: 60px;
  position: relative;
  background: transparent;
}

.threeory .card-img {
  overflow: hidden;
  z-index: 9;
  border-radius: 0;
}

.threeory .card-img img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}

.threeory .card-body {
  z-index: 10;
  background: #fff;
  border-top: 4px solid #fff;
  padding: 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin-top: -60px;
  margin-left: 30px;
  width: calc(100% - 60px);
}

@media (max-width: 640px) {
  .services .card-body {
    margin-left: 15px;
    width: calc(100% - 30px);
  }
}

.threeory .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.threeory .card-title  {
  color: #00a6fb;
  transition: 0.3s;
}

.threeory .card-text {
  color: #5e5e5e;
}

.threeory .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.3s;
}

.threeory .read-more a:hover {
  color: #00a6fb;
}

.threeory .card:hover img {
  transform: scale(1.1);
}

.threeory .card:hover .card-body {
  border-color: #00a6fb;
}

.threeory .card:hover .card-body .card-title a {
  color: #00a6fb;
}

/*--------------------------------------------------------------
# Theories
--------------------------------------------------------------*/
.threeory h1{
  text-align: center;
  font-weight: 700;
  font-size: 55px;
  color: #00a6fb;
}
.threeory h1:hover{
  color: white;
}
.threeory h3{
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: white;
}
.threeory h3:hover{
  color: #00a6fb;
}

.threeory h4 a{
  font-size: 25px;
  font-weight: 600px;
  color: #00a6fb;
  text-align: center;
}
.threeory h4:hover a{
  color: #414141;
}
.threeory .theory-box {
  text-align: center;
  padding: 30px 20px 50px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.threeory .theory-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.threeory .theory-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.threeory .theory-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.threeory .theory-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.threeory .theory-box sh4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 25px;
  color: #45505b;
}

.theory .theory-box hq4 a {
  color: #45505b;
  transition: ease-in-out 0.3s;
}

.threeory .theory-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.threeory .theory-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.threeory .btn-learn-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #414141;
}

.threeory .btn-learn-more:hover {
  background: #00a6fb;
}
.theory-box:hover img {
  transform: scale(1.2);
}

.theory-box {
  display: block;
  overflow: hidden;
}

.theory-box img {
  transition: all 0.8s;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  padding-bottom: 40px;
}

.services .card {
  border: 0;
  padding: 0 30px;
  margin-bottom: 60px;
  position: relative;
  background: transparent;
}

.services .card-img {
  overflow: hidden;
  z-index: 9;
  border-radius: 0;
}

.services .card-img img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.services .card-body {
  z-index: 10;
  background: #fff;
  border-top: 4px solid #fff;
  padding: 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin-top: -35px;
  margin-left: 30px;
  width: calc(100% - 60px);
  height: 660px;
}

@media (max-width: 640px) {
  .services .card-body {
    margin-left: 15px;
    width: calc(100% - 30px);
  }
}

.services .card-title {
  color: #00a6fb;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.services .card-text {
  color: #5e5e5e;
}

.services .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.3s;
}

.services .read-more a:hover {
  color: #fdc134;
}

.services .card:hover img {
  transform: scale(1.3);
}

.services .card:hover .card-body {
  border-color: #00a6fb;
}

.services .card:hover .card-body .card-title a {
  color: #00a6fb;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
  background: #00a6fb;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}
.portfolio-details h1{
  color: #00a6fb;
  font-weight: 800;
  font-size: 40px;
  padding-top: 30px;
}
.portfolio-details h1:hover{
  color: white;
}
.portfolio-details .container {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  
}

.portfolio-details .portfolio-info {
  text-align: justify;
}
.portfolio-details .portfolio-info:hover {
  color: #00a6fb;
}
.portfolio-details .portfolio-info p {
  font-size: 17px;

}
.portfolio-details .p:hover  {
  color: #00a6fb;
}
@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }
}

.portfolio-details .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #00a6fb;
}

/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/
.gallery {
  overflow: hidden;
}
.gallery img{
  width: 100%;
  height: 150px;
  object-fit: fill;
}
.gallery h2 {
  color: #00a6fb;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
.gallery .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.gallery .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  color: #00a6fb;
  background-color: #d1d1d7;
  opacity: 1;
}

.gallery .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #00a6fb;
}

.gallery .swiper-slide-active {
  text-align: center;
}

@media (min-width: 992px) {
  .gallery .swiper-wrapper {
    padding: 40px 0;
  }

  .gallery .swiper-slide-active {
    border: 6px solid var(--color-primary);
    padding: 4px;
    background: #00a6fb;
    z-index: 1;
    width: 100%;
    transform: scale(1.2);
  }
}


/*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/
.team h1{
  text-align: center;
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #00a6fb;
}

.team .team-member {
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0 30px rgba(55, 55, 63, 0.08);
  transition: 0.3s;
}

.team .team-member .member-img {
  position: relative;
  overflow: hidden;
}

.team .team-member .member-img:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: url(../img/team-shape.svg) no-repeat center bottom;
  background-size: cover;
  z-index: 1;
}

.team .team-member .social {
  position: absolute;
  right: -100%;
  top: 30px;
  opacity: 0;
  border-radius: 4px;
  transition: 0.5s;
  background: #00a6fb;
  z-index: 2;
}

.team .team-member .social a {
  transition: color 0.3s;
  color: rgb(255, 255, 255);
  margin: 15px 12px;
  display: block;
  line-height: 0;
  text-align: center;
}

.team .team-member .social a:hover {
  color: rgb(255, 255, 255);
}

.team .team-member .social i {
  font-size: 18px;
}

.team .team-member .member-info {
  padding: 10px 15px 20px 15px;
}

.team .team-member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #00a6fb;
}

.team .team-member .member-info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.team .team-member .member-info p {
  font-size: 14px;
  padding-top: 15px;
  line-height: 26px;
  color: black;
}

.team .team-member:hover {
  transform: scale(1.08);
  box-shadow: 0px 0 30px rgba(55, 55, 63, 0.15);
}

.team .team-member:hover .social {
  right: 8px;
  opacity: 1;
}

/*--------------------------------------------------------------
# Credits
--------------------------------------------------------------*/
.credits {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  text-align: right;
  font-size: 10px;
  color: #fff;
  z-index: 999999;
}

@media (max-width: 992px) {
  .credits {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
  }
}

.credits a {
  color: whitesmoke;
  transition: 0.3s;
}

.credits a:hover {
  color: white;
}